/*======================================
[ CSS Table of contents ]
* Header CSS
* Slider CSS
* About CSS
* Work steps CSS
* Portfolio CSS
* Testimonials CSS
* Contacts CSS
* Footer CSS
========================================*/
@font-face {
   font-family: "Gilroy";
   src: local("Gilroy Light"), local("Gilroy-Light"), url("Gilroylight.woff2") format("woff2"),
      url("Gilroylight.woff") format("woff"), url("Gilroylight.ttf") format("truetype");
   font-weight: 300;
   font-style: normal;
}
@font-face {
   font-family: "Gilroy";
   src: local("Gilroy ExtraBold"), local("Gilroy-ExtraBold"), url("Gilroyextrabold.woff2") format("woff2"),
      url("Gilroyextrabold.woff") format("woff"), url("Gilroyextrabold.ttf") format("truetype");
   font-weight: 800;
   font-style: normal;
}

* {
   padding: 0;
   margin: 0;
}
body {
   display: flex;
   position: relative;
   overflow-x: hidden;
}

.main_conteiner {
   margin: 0 auto;
   max-width: 1440px;
   min-width: 320px;
   position: relative;
   display: flex;
   justify-content: center;
   background: #ffffff;
}

.main_conteiner a {
   text-decoration: none;
}
.main_conteiner li {
   list-style-type: none;
}
/*header styles*/
.header {
   display: flex;
   position: relative;
   justify-content: center;
   z-index: 99;
   text-decoration: none;
}
.header_contacts {
   width: 1440px;
   position: relative;
   justify-content: center;
   height: 54px;
   background: rgba(0, 0, 0, 0.31);
   z-index: 99;
}
.header_contacts__goback {
   position: absolute;
   display: block;
   left: 80px;
   top: 17px;
   font-weight: 500;
   font-size: 22px;
   line-height: 26px;
   display: flex;
   align-items: center;
   text-align: center;
   letter-spacing: -0.015em;
   opacity: 0;
   color: #ffffff;
}
.header_contacts__goback:hover {
   opacity: 1;
   color: #ff9900;
}
.header_contacts__goback i {
   padding-right: 5px;
}
.header_contacts__phone1 {
   position: absolute;
   width: 139px;
   height: 38px;
   left: 818px;
   top: 20px;
   font-weight: 500;
   font-size: 16px;
   line-height: 19px;
   align-items: center;
   text-align: center;
   letter-spacing: -0.015em;
   color: #ffffff;
}
.header_contacts__phone2 {
   position: absolute;
   width: 139px;
   height: 38px;
   left: 1004px;
   top: 20px;
   font-weight: 500;
   font-size: 16px;
   line-height: 19px;
   align-items: center;
   text-align: center;
   color: #ffffff;
}
.header_contacts__phone1:hover {
   color: #ff9900;
}
.header_contacts__phone2:hover {
   color: #ff9900;
}
.header_social ul li {
   position: absolute;
   width: 19px;
   height: 19px;
   top: 22px;
}
.header_social__linkedin {
   left: 1248px;
}
.header_social__linkedin a:hover {
   border-bottom: 3px solid #ff9900;
}
.header_social__facebook {
   left: 1289.29px;
}
.header_social__facebook a:hover {
   border-bottom: 3px solid #ff9900;
}
.header_social__instagram {
   left: 1330.59px;
}
.header_social__instagram a:hover {
   border-bottom: 3px solid #ff9900;
}
/* logo */
.header_logo a {
   text-transform: uppercase;
   position: absolute;
   width: 73px;
   height: 80px;
   left: 80px;
   top: 55px;
   font-weight: 900;
   font-size: 24px;
   line-height: 80px;
   /* identical to box height, or 333% */
   letter-spacing: 7%;
   color: #ff9900;
}
.header_button {
   position: absolute;
   width: 166px;
   height: 42px;
   left: 1194px;
   top: 77px;
   border: 2px solid #ff9900;
   box-sizing: border-box;
   background-image: none;
   background: transparent;
   background-color: transparent;
   align-items: center;
   text-align: center;
   font-weight: bold;
   font-size: 16px;
   line-height: 35px;
   display: inline-block;
   color: #ff9900;
   letter-spacing: -0.015em;
}
.header_button:hover {
   color: #333;
   background: #fff;
}
.header_nav li a {
   position: absolute;
   margin-left: 50px;
   font-family: "Gilroy";
   font-style: normal;
   font-weight: normal;
   font-size: 18px;
   line-height: 80px;
   /* identical to box height, or 444% */
   letter-spacing: 0.07em;
   color: #ffffff;
}
.header_nav__about {
   display: flex;
   position: absolute;
   width: 72px;
   height: 50px;
   left: 328px;
   top: 55px;
   border-bottom: 3px solid transparent;
   text-align: center;
}
.header_nav__testimonials {
   width: 70px;
   height: 50px;
   left: 486px;
   top: 55px;
   border-bottom: 3px solid transparent;
   text-align: center;
}
.header_nav__steps {
   width: 42px;
   height: 50px;
   left: 641px;
   top: 55px;
   border-bottom: 3px solid transparent;
   text-align: center;
}
.header_nav__portfolio {
   width: 122px;
   height: 50px;
   left: 739px;
   top: 55px;
   border-bottom: 3px solid transparent;
   text-align: center;
}
.header_nav__contacts {
   width: 86px;
   height: 50px;
   left: 924px;
   top: 55px;
   border-bottom: 3px solid transparent;
   text-align: center;
}
.header_nav li a:hover {
   color: #ff9900;
   border-bottom: 3px solid #ff9900;
}
.header_nav li a:active {
   color: #ff9900;
   border-bottom: 3px solid #ff9900;
}

/* Slider */
.slider {
   display: flex;
   position: absolute;
   content: "";
   width: 1440px;
   height: 1006px;
   left: 0px;
   top: 0px;
   background-size: cover;
   background-position: center;
   z-index: 2;
}
.slider_container__head1 {
   position: absolute;
   width: 860px;
   height: 112px;
   left: 335px;
   top: 271px;
   font-size: 40px;
   line-height: 139.4%;
   /* or 56px */
   letter-spacing: 0.2px;
   color: #ffffff;
}
.slider_container__head2 {
   position: absolute;
   width: 776px;
   height: 75px;
   left: 335px;
   top: 412px;
   font-size: 18px;
   line-height: 139.4%;
   /* or 25px */
   letter-spacing: 0.2px;
   color: #ffffff;
}
.slider_container__button2 {
   position: absolute;
   width: 166px;
   height: 43px;
   left: 337px;
   top: 547px;
   border: 2px solid #ff9900;
   box-sizing: border-box;
   background-color: #ff9900;
   align-items: center;
   text-align: center;
   font-weight: bold;
   font-size: 16px;
   line-height: 35px;
   display: inline-block;
   letter-spacing: -0.015em;
   color: #ffffff;
}
.slider_container__button2:hover {
   color: #333;
   background: #fff;
}
/* Slider bottom line */
.slider_bottom {
   position: absolute;
   width: 1440px;
   height: 169px;
   left: 0px;
   top: 838px;
   background: rgba(255, 255, 255, 0.1);
   backdrop-filter: blur(26px);
   z-index: 1;
}
.slider_bottom p {
   position: absolute;
   font-family: "Gilroy";
   font-style: normal;
   font-weight: 600;
   font-size: 20px;
   line-height: 139.4%;
   display: inline;
   /* or 28px */
   letter-spacing: 0.2px;
   color: #ffffff;
   z-index: 99;
}
.slider_bottom p.bottom1 {
   width: 156px;
   left: 80px;
   top: 52px;
}
.bottom_fon1 {
   position: absolute;
   width: 92px;
   height: 92px;
   left: 150px;
   vertical-align: middle;
   margin-top: 35px;
   opacity: 0.51;
   z-index: 90;
}
.slider_bottom p.bottom2 {
   width: 190px;
   left: 333px;
   top: 56px;
}
.bottom_fon2 {
   position: absolute;
   width: 92px;
   height: 41px;
   left: 431px;
   vertical-align: middle;
   margin-top: 35px;
   opacity: 0.51;
   z-index: 90;
}
.slider_bottom p.bottom3 {
   width: 180px;
   left: 611px;
   top: 38px;
}
.bottom_fon3 {
   position: absolute;
   width: 92px;
   height: 92px;
   left: 736px;
   vertical-align: middle;
   margin-top: 35px;
   opacity: 0.51;
   z-index: 90;
}
.slider_bottom p.bottom4 {
   width: 158px;
   left: 921px;
   top: 38px;
}
.bottom_fon4 {
   position: absolute;
   width: 92px;
   height: 92px;
   left: 1014px;
   vertical-align: middle;
   margin-top: 35px;
   opacity: 0.51;
   z-index: 90;
}
.slider_bottom p.bottom5 {
   width: 170px;
   left: 1199px;
   top: 38px;
}
.bottom_fon5 {
   position: absolute;
   width: 92px;
   height: 92px;
   left: 1268px;
   vertical-align: middle;
   margin-top: 35px;
   opacity: 0.51;
   z-index: 90;
}
/* About */
.about {
   position: absolute;
   width: 547px;
   height: 766px;
   left: 0px;
   top: 1007px;
   z-index: 9;
}
.about_container {
   display: flex;
   content: "";
   width: 1440px;
   height: 767px;
   z-index: 1;
}
.about_banner {
   display: block;
   position: absolute;
   width: 238px;
   height: 220px;
   right: 1px;
   top: 546px;
   background: #ffb800;
   mix-blend-mode: normal;
}
.about_banner__text1 {
   position: absolute;
   left: 34px;
   top: 100px;
   width: 110px;
   height: 78px;
   font-family: "Gilroy";
   font-style: normal;
   font-weight: 400;
   font-size: 30px;
   line-height: 139.4%;
   /* or 42px */
   letter-spacing: 0.2px;
   color: #ffffff;
}
.about_banner__text2 {
   position: absolute;
   left: 34px;
   top: 12px;
   width: 110px;
   height: 98px;
   font-family: "Playfair Display";
   font-style: normal;
   font-weight: 400;
   font-size: 70px;
   line-height: 139.4%;
   /* identical to box height, or 98px */
   letter-spacing: 0.2px;
   color: #ffffff;
}
/* About right block*/

.about_info {
   display: block;
}
.about_img {
   position: absolute;
   width: 692px;
   height: 606px;
   left: 783px;
   top: 377px;
   z-index: 1;
}
.about_info__head1 {
   position: absolute;
   width: 150px;
   height: 25px;
   left: 731px;
   top: 158px;
   font-family: "Gilroy";
   font-style: normal;
   font-weight: normal;
   font-size: 18px;
   line-height: 139.4%;
   /* identical to box height, or 25px */
   letter-spacing: 9.7px;
   text-transform: uppercase;
   color: #ff9900;
}
.about_info__head2 {
   position: absolute;
   width: 240px;
   height: 56px;
   left: 731px;
   top: 198px;
   font-family: "Playfair Display";
   font-style: normal;
   font-weight: normal;
   font-size: 40px;
   line-height: 139.4%;
   /* identical to box height, or 56px */
   letter-spacing: 0.2px;
   color: #000000;
   z-index: 3;
}
.about_rubric {
   position: absolute;
   width: 532px;
   height: 300px;
   left: 732px;
   top: 280px;
   font-family: "Gilroy";
   font-style: normal;
   font-weight: normal;
   font-size: 18px;
   line-height: 139.4%;
   /* or 25px */
   letter-spacing: 0.2px;
   color: #7c7c7c;
}
.about_rubric__botom {
   margin-top: 20px;
}

/* Work steps */
.work_steps {
   position: absolute;
   display: block;
   width: 1440px;
   height: 531px;
   left: 0px;
   top: 1773px;
   background: #000;
   mix-blend-mode: normal;
   z-index: 9;
}
.work_steps_container .title1 {
   position: absolute;
   width: 267px;
   height: 25px;
   left: 170px;
   top: 65px;
   font-family: "Gilroy";
   font-style: normal;
   font-weight: normal;
   font-size: 18px;
   line-height: 139.4%;
   /* identical to box height, or 25px */
   letter-spacing: 9.7px;
   text-transform: uppercase;
   color: #ff9900;
}
.work_steps_container .title2 {
   position: absolute;
   width: 350px;
   height: 56px;
   left: 167px;
   top: 98px;
   font-family: "Playfair Display";
   font-style: normal;
   font-weight: normal;
   font-size: 40px;
   line-height: 139.4%;
   /* identical to box height, or 56px */
   letter-spacing: 0.2px;
   color: #ffffff;
}

/*Work steps circles*/
/*First circle*/
.steps_row1 span.dot {
   display: block;
   position: absolute;
   width: 66px;
   height: 66px;
   left: 197px;
   top: 251px;
   border: 3px solid #afafaf;
   border-radius: 50%;
   margin: auto;
   text-align: center;
   transform: rotate(45deg);
}
.steps_row1 span.dot:before {
   content: "";
   position: absolute;
   top: -3px;
   left: -3px;
   bottom: -3px;
   right: -3px;
   border-radius: 50%;
   border: 3px solid #ff9900;
   border-top: 3px solid #ff9900;
   border-left: 3px solid transparent;
   border-bottom: 3px solid transparent;
   border-right: 3px solid transparent;
}
.steps_row1 span.dot:after {
   content: "";
   position: absolute;
   top: -3px;
   left: -3px;
   bottom: -3px;
   right: -3px;
   border-radius: 50%;
   border: 3px solid #afafaf;
   border-top: 3px solid #afafaf;
   border-left: 3px solid transparent;
   border-bottom: 3px solid transparent;
   border-right: 3px solid transparent;
   transform: rotate(70deg);
}
.steps_row1 i {
   position: absolute;
   width: 15px;
   height: 59px;
   left: 225px;
   top: 250px;
   font-family: "Playfair Display";
   font-style: normal;
   font-weight: normal;
   font-size: 40px;
   line-height: 139.4%;
   /* identical to box height, or 56px */
   letter-spacing: 0.2px;
   color: #ffffff;
   display: block;
}
.steps_row1 p {
   position: absolute;
   width: 140px;
   height: 40px;
   left: 188px;
   top: 347px;
   font-family: "Gilroy";
   font-style: normal;
   font-weight: normal;
   font-size: 14px;
   line-height: 139.4%;
   /* or 20px */
   letter-spacing: 0.2px;
   color: #ffffff;
}
/*Second circle*/
.steps_row2 span.dot {
   display: block;
   position: absolute;
   width: 66px;
   height: 66px;
   left: 391px;
   top: 251px;
   border: 3px solid #afafaf;
   border-radius: 50%;
   margin: auto;
   text-align: center;
   transform: rotate(45deg);
}
.steps_row2 span.dot:before {
   content: "";
   position: absolute;
   top: -3px;
   left: -3px;
   bottom: -3px;
   right: -3px;
   border-radius: 50%;
   border: 3px solid #ff9900;
   border-top: 3px solid #ff9900;
   border-left: 3px solid transparent;
   border-bottom: 3px solid transparent;
   border-right: 3px solid transparent;
}
.steps_row2 span.dot:after {
   content: "";
   position: absolute;
   top: -3px;
   left: -3px;
   bottom: -3px;
   right: -3px;
   border-radius: 50%;
   border: 3px solid #afafaf;
   border-top: 3px solid #ff9900;
   border-left: 3px solid transparent;
   border-bottom: 3px solid transparent;
   border-right: 3px solid transparent;
   transform: rotate(30deg);
}
.steps_row2 i {
   position: absolute;
   width: 15px;
   height: 59px;
   left: 416px;
   top: 251px;
   font-family: "Playfair Display";
   font-style: normal;
   font-weight: normal;
   font-size: 40px;
   line-height: 139.4%;
   /* identical to box height, or 56px */
   letter-spacing: 0.2px;
   color: #ffffff;
   display: block;
}
.steps_row2 p {
   position: absolute;
   width: 140px;
   height: 40px;
   left: 391px;
   top: 347px;
   font-family: "Gilroy";
   font-style: normal;
   font-weight: normal;
   font-size: 14px;
   line-height: 139.4%;
   /* or 20px */
   letter-spacing: 0.2px;
   color: #ffffff;
}
/*Third circle*/
.steps_row3 span.dot {
   display: block;
   position: absolute;
   width: 66px;
   height: 66px;
   left: 587px;
   top: 251px;
   border: 3px solid #afafaf;
   border-radius: 50%;
   margin: auto;
   text-align: center;
   transform: rotate(45deg);
}
.steps_row3 span.dot:before {
   content: "";
   position: absolute;
   top: -3px;
   left: -3px;
   bottom: -3px;
   right: -3px;
   border-radius: 50%;
   border: 3px solid #ff9900;
   border-top: 3px solid #ff9900;
   border-left: 3px solid transparent;
   border-bottom: 3px solid transparent;
   border-right: 3px solid transparent;
}
.steps_row3 span.dot:after {
   content: "";
   position: absolute;
   top: -3px;
   left: -3px;
   bottom: -3px;
   right: -3px;
   border-radius: 50%;
   border: 3px solid #afafaf;
   border-top: 3px solid #ff9900;
   border-left: 3px solid transparent;
   border-bottom: 3px solid transparent;
   border-right: 3px solid transparent;
   transform: rotate(90deg);
}
.steps_row3 i {
   position: absolute;
   width: 15px;
   height: 59px;
   left: 612px;
   top: 251px;
   font-family: "Playfair Display";
   font-style: normal;
   font-weight: normal;
   font-size: 40px;
   line-height: 139.4%;
   /* identical to box height, or 56px */
   letter-spacing: 0.2px;
   color: #ffffff;
   display: block;
}
.steps_row3 p {
   position: absolute;
   width: 140px;
   height: 40px;
   left: 587px;
   top: 347px;
   font-family: "Gilroy";
   font-style: normal;
   font-weight: normal;
   font-size: 14px;
   line-height: 139.4%;
   /* or 20px */
   letter-spacing: 0.2px;
   color: #ffffff;
}
/*Fourth  circle*/
.steps_row4 span.dot {
   display: block;
   position: absolute;
   width: 66px;
   height: 66px;
   left: 781px;
   top: 251px;
   border: 3px solid #afafaf;
   border-radius: 50%;
   margin: auto;
   text-align: center;
   transform: rotate(45deg);
}
.steps_row4 span.dot:before {
   content: "";
   position: absolute;
   top: -3px;
   left: -3px;
   bottom: -3px;
   right: -3px;
   border-radius: 50%;
   border: 3px solid #ff9900;
   border-top: 3px solid #ff9900;
   border-left: 3px solid transparent;
   border-bottom: 3px solid transparent;
   border-right: 3px solid #ff9900;
}
.steps_row4 span.dot:after {
   content: "";
   position: absolute;
   top: -3px;
   left: -3px;
   bottom: -3px;
   right: -3px;
   border-radius: 50%;
   border: 3px solid #afafaf;
   border-top: 3px solid transparent;
   border-left: 3px solid transparent;
   border-bottom: 3px solid #ff9900;
   border-right: 3px solid transparent;
   transform: rotate(-30deg);
}
.steps_row4 i {
   position: absolute;
   width: 15px;
   height: 59px;
   left: 802px;
   top: 251px;
   font-family: "Playfair Display";
   font-style: normal;
   font-weight: normal;
   font-size: 40px;
   line-height: 139.4%;
   /* identical to box height, or 56px */
   letter-spacing: 0.2px;
   color: #ffffff;
   display: block;
}
.steps_row4 p {
   position: absolute;
   width: 140px;
   height: 40px;
   left: 780px;
   top: 347px;
   font-family: "Gilroy";
   font-style: normal;
   font-weight: normal;
   font-size: 14px;
   line-height: 139.4%;
   /* or 20px */
   letter-spacing: 0.2px;
   color: #ffffff;
}
/*Fifth circle*/
.steps_row5 span.dot {
   display: block;
   position: absolute;
   width: 66px;
   height: 66px;
   left: 968px;
   top: 251px;
   border: 3px solid #afafaf;
   border-radius: 50%;
   margin: auto;
   text-align: center;
   transform: rotate(45deg);
}
.steps_row5 span.dot:before {
   content: "";
   position: absolute;
   top: -3px;
   left: -3px;
   bottom: -3px;
   right: -3px;
   border-radius: 50%;
   border: 3px solid #ff9900;
   border-top: 3px solid #ff9900;
   border-left: 3px solid transparent;
   border-bottom: 3px solid #ff9900;
   border-right: 3px solid #ff9900;
}
.steps_row5 span.dot:after {
   content: "";
   position: absolute;
   top: -3px;
   left: -3px;
   bottom: -3px;
   right: -3px;
   border-radius: 50%;
   border: 3px solid #afafaf;
   border-top: 3px solid transparent;
   border-left: 3px solid transparent;
   border-bottom: 3px solid #ff9900;
   border-right: 3px solid transparent;
   transform: rotate(30deg);
}
.steps_row5 i {
   position: absolute;
   width: 15px;
   height: 59px;
   left: 993px;
   top: 251px;
   font-family: "Playfair Display";
   font-style: normal;
   font-weight: normal;
   font-size: 40px;
   line-height: 139.4%;
   /* identical to box height, or 56px */
   letter-spacing: 0.2px;
   color: #ffffff;
   display: block;
}
.steps_row5 p {
   position: absolute;
   width: 130px;
   height: 40px;
   left: 967px;
   top: 347px;
   font-family: "Gilroy";
   font-style: normal;
   font-weight: normal;
   font-size: 14px;
   line-height: 139.4%;
   /* or 20px */
   letter-spacing: 0.2px;
   color: #ffffff;
}
/*Sixth circle*/
.steps_row6 span.dot {
   display: block;
   position: absolute;
   width: 66px;
   height: 66px;
   left: 1158px;
   top: 251px;
   border: 3px solid #afafaf;
   border-radius: 50%;
   margin: auto;
   text-align: center;
   transform: rotate(45deg);
}
.steps_row6 span.dot:before {
   content: "";
   position: absolute;
   top: -3px;
   left: -3px;
   bottom: -3px;
   right: -3px;
   border-radius: 50%;
   border: 3px solid #ff9900;
   border-top: 3px solid #ff9900;
   border-left: 3px solid transparent;
   border-bottom: 3px solid #ff9900;
   border-right: 3px solid #ff9900;
}
.steps_row6 span.dot:after {
   content: "";
   position: absolute;
   top: -3px;
   left: -3px;
   bottom: -3px;
   right: -3px;
   border-radius: 50%;
   border: 3px solid #afafaf;
   border-top: 3px solid transparent;
   border-left: 3px solid transparent;
   border-bottom: 3px solid #ff9900;
   border-right: 3px solid transparent;
   transform: rotate(90deg);
}
.steps_row6 i {
   position: absolute;
   width: 15px;
   height: 59px;
   left: 1179px;
   top: 251px;
   font-family: "Playfair Display";
   font-style: normal;
   font-weight: normal;
   font-size: 40px;
   line-height: 139.4%;
   /* identical to box height, or 56px */
   letter-spacing: 0.2px;
   color: #ffffff;
   display: block;
}
.steps_row6 p {
   position: absolute;
   width: 130px;
   height: 40px;
   left: 1111px;
   top: 347px;
   font-family: "Gilroy";
   font-style: normal;
   font-weight: normal;
   font-size: 14px;
   line-height: 139.4%;
   /* or 20px */
   letter-spacing: 0.2px;
   color: #ffffff;
}

/* steps-line*/
.steps_line1 {
   position: absolute;
   width: 124px;
   height: 0px;
   left: 267px;
   top: 285px;
   border: 1px solid #ffffff;
}
.steps_line2 {
   position: absolute;
   width: 126px;
   height: 0px;
   left: 460px;
   top: 285px;
   border: 1px solid #ffffff;
}
.steps_line3 {
   position: absolute;
   width: 122px;
   height: 0px;
   left: 657px;
   top: 285px;
   border: 1px solid #ffffff;
}
.steps_line4 {
   position: absolute;
   width: 115px;
   height: 0px;
   left: 852px;
   top: 285px;
   border: 1px solid #ffffff;
}
.steps_line5 {
   position: absolute;
   width: 117px;
   height: 0px;
   left: 1039px;
   top: 285px;
   border: 1px solid #ffffff;
}

/* Portfolio*/
.portfolio {
   position: absolute;
   display: block;
   width: 1440px;
   height: 911px;
   left: 0px;
   top: 2300px;
   background-color: #ffffff;
   background-size: cover;
   background-position: center;
   z-index: 2;
}
.portfolio_container__title p {
   position: absolute;
   left: 628px;
   top: 100px;
   width: 183px;
   height: 25px;
   font-family: "Gilroy";
   font-style: normal;
   font-weight: normal;
   font-size: 18px;
   line-height: 139.4%;
   /* identical to box height, or 25px */
   text-align: center;
   letter-spacing: 9.7px;
   text-transform: uppercase;
   color: #ff9900;
}
.portfolio_container__title h3 {
   position: absolute;
   left: 566px;
   top: 120px;
   width: 310px;
   height: 70px;
   font-family: "Playfair Display";
   font-style: normal;
   font-weight: normal;
   font-size: 40px;
   line-height: 139.4%;
   /* or 56px */
   text-align: center;
   letter-spacing: 0.2px;
   color: #000000;
}
.portfolio_container__info i {
   position: absolute;
   width: 692px;
   height: 606px;
   left: 282px;
   top: 376px;
   mix-blend-mode: multiply;
   opacity: 0.3;
}
.portfolio_container__info h5 {
   position: absolute;
   width: 173px;
   height: 33px;
   left: 172px;
   top: 355px;
   font-family: "Gilroy";
   font-style: normal;
   font-weight: 600;
   font-size: 24px;
   line-height: 139.4%;
   /* or 33px */
   letter-spacing: 0.2px;
   color: #000000;
}
.portfolio_container__info p {
   position: absolute;
   width: 504px;
   height: 175px;
   left: 168px;
   top: 412px;
   font-family: "Gilroy";
   font-style: normal;
   font-weight: normal;
   font-size: 18px;
   line-height: 139.4%;
   /* or 25px */
   letter-spacing: 0.2px;
   color: #000000;
}
.portfolio_container__info span {
   position: absolute;
   width: 142px;
   height: 25px;
   left: 168px;
   top: 618px;
   font-family: "Gilroy";
   font-style: normal;
   font-weight: bold;
   font-size: 18px;
   line-height: 139.4%;
   /* identical to box height, or 25px */
   letter-spacing: 0.2px;
   color: #000000;
}
.portfolio_container__info span i {
   position: absolute;
   width: 68px;
   height: 28px;
   left: 150px;
   top: 0px;
   font-family: "Gilroy";
   font-style: normal;
   font-weight: normal;
   font-size: 20px;
   line-height: 139.4%;
   /* identical to box height, or 28px */
   letter-spacing: 0.2px;
   color: #000000;
}
.portfolio_container__info span.portf_botom {
   position: absolute;
   width: 142px;
   height: 25px;
   left: 168px;
   top: 655px;
   font-family: Gilroy;
   font-style: normal;
   font-weight: bold;
   font-size: 18px;
   line-height: 139.4%;
   /* identical to box height, or 25px */
   letter-spacing: 0.2px;
   color: #000000;
}
.portfolio_container__info span.portf_botom i {
   position: absolute;
   width: 68px;
   height: 28px;
   left: 150px;
   top: 0px;
   font-family: "Gilroy";
   font-style: normal;
   font-weight: normal;
   font-size: 20px;
   line-height: 139.4%;
   /* identical to box height, or 28px */
   letter-spacing: 0.2px;
   color: #000000;
}
/* Porfolio-slider */
.porfolio_slider {
   position: relative;
   width: 652px;
   height: 684px;
   left: 795px;
   top: 229px;
}
.porfolio_slider__foto1 {
   position: absolute;
   width: 102px;
   height: 105px;
   left: 0px;
   top: 0px;
}
.porfolio_slider__foto2 {
   position: absolute;
   width: 102px;
   height: 105px;
   left: 0px;
   top: 107px;
}
.porfolio_slider__foto3 {
   position: absolute;
   width: 102px;
   height: 105px;
   left: 0px;
   top: 214px;
}
.porfolio_slider__foto__main {
   position: absolute;
   width: 845px;
   height: 607px;
   left: 104px;
   top: 0px;
}
.porfolio_sliderpanel {
   display: flex;
   position: absolute;
   width: 541px;
   height: 94px;
   left: 899px;
   top: 817px;
   background: #ffb800;
   z-index: 10;
   justify-content: left;
}
.porfolio_sliderpanel a i {
   position: relative;
   font-size: 9px;
   left: 119px;
   top: 42px;
   width: 30px;
   color: rgba(255, 255, 255, 0.45);
   justify-content: space-between;
}
.porfolio_sliderpanel a span {
   position: relative;
   font-size: 35px;
   left: 250px;
   top: 35px;
   width: 60px;
   color: rgba(255, 255, 255, 0.45);
   justify-content: space-between;
}
.porfolio_sliderpanel a i:hover {
   color: #ffffff;
   cursor: pointer;
}
.porfolio_sliderpanel a span:hover {
   color: #ffffff;
   cursor: pointer;
}

/* Testimonials */
.testimonials {
   position: absolute;
   width: 1440px;
   height: 804px;
   left: 0px;
   top: 3210px;
}
.testimonials_container {
   position: absolute;
   width: 766px;
   height: 671px;
   left: 345px;
   top: 0px;
   justify-content: center;
   background: rgba(255, 255, 255, 0.1);
   backdrop-filter: blur(26px);
}
.testimonials_container i {
   position: absolute;
   width: 283px;
   height: 185px;
   left: 560px;
   top: 249px;
   color: #ffffff;
}
.testimonials_container__title p {
   position: absolute;
   left: 311px;
   top: 70px;
   width: 150px;
   height: 30px;
   color: #ff9900;
   font-family: "Gilroy";
   font-style: normal;
   font-weight: normal;
   font-size: 18px;
   line-height: 139.4%;
   /* identical to box height, or 25px */
   text-align: center;
   letter-spacing: 9.7px;
   text-transform: uppercase;
}
.testimonials_container__title h3 {
   position: absolute;
   left: 125px;
   top: 108px;
   width: 500px;
   height: 50px;
   font-family: "Playfair Display";
   font-style: normal;
   font-weight: normal;
   font-size: 40px;
   line-height: 139.4%;
   /* identical to box height, or 56px */
   text-align: center;
   letter-spacing: 0.2px;
   color: #ffffff;
}
.testimonials_container__text p {
   position: absolute;
   width: 493px;
   height: 185px;
   left: 130px;
   top: 290px;
   font-family: "Gilroy";
   font-style: normal;
   font-weight: 300;
   font-size: 16px;
   line-height: 18px;
   text-align: center;
   letter-spacing: 0.01em;
   color: #ffffff;
   opacity: 0.7;
   text-justify: center;
}
.testimonials_container__text span {
   position: absolute;
   width: 211px;
   height: 300px;
   left: 280px;
   top: 430px;
   font-family: "Gilroy";
   font-style: normal;
   font-weight: 500;
   font-size: 20px;
   line-height: 24px;
   /* identical to box height */
   align-items: center;
   text-align: center;
   letter-spacing: -0.015em;
   color: #ffffff;
}
.testimonials_container__slider {
   display: flex;
   position: absolute;
   width: 190px;
   height: 24px;
   left: 277px;
   top: 550px;
   z-index: 10;
   justify-content: center;
}

.testimonials_container__slider a i {
   position: relative;
   font-size: 7px;
   left: 20px;
   top: 5px;
   width: 30px;
   color: rgba(196, 196, 196, 0.45);
   justify-content: space-between;
}
.testimonials_container__slider a span {
   position: relative;
   font-size: 35px;
   left: 10px;
   top: 0px;
   width: 100%;
   color: rgba(196, 196, 196, 0.45);
   justify-content: space-between;
}
.testimonials_container__slider a i:hover {
   color: #ff9900;
   cursor: pointer;
}
.testimonials_container__slider a span:hover {
   color: #ff9900;
   cursor: pointer;
}
.contacts_container {
   position: absolute;
   width: 1440px;
   height: 370px;
   top: 3880px;
   left: 0px;
   max-width: 1440px;
   min-width: 320px;
   display: flex;
   justify-content: center;
   z-index: 99;
   background-color: #ffb800;
}
.contacts_container p.contact_form__title {
   position: absolute;
   width: 266px;
   height: 40px;
   left: 385px;
   top: 45px;
   font-family: "Playfair Display";
   font-style: normal;
   font-weight: bold;
   font-size: 30px;
   line-height: 40px;
   /* identical to box height */
   color: #ffffff;
}
.contacts_container p.contact_form__description {
   position: absolute;
   width: 588px;
   height: 40px;
   left: 385px;
   top: 92px;
   font-family: "Gilroy";
   font-style: normal;
   font-weight: normal;
   font-size: 18px;
   line-height: 21px;
   /* identical to box height */
   letter-spacing: 0.005em;
   color: #ffffff;
}
.contacts_container input {
   display: initial;
   position: absolute;
   width: 300px;
   height: 22px;
   left: 385px;
   top: 156px;
   padding: 0px 0px 0px 2px;
   border-bottom: 0.5px solid #ffffff;
   border-left: 4px solid #ffb800;
   border-right: 1px solid #ffb800;
   border-top: 1px solid #ffb800;
   color: #ffffff;
   font-family: "Gilroy";
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   letter-spacing: 0.07em;
   background-color: #ffb800;
}
.contacts_container input.contact_form__input_name {
   left: 385px;
   top: 156px;
   width: 294px;
}
.contacts_container input.contact_form__input_email {
   left: 798px;
   top: 156px;
   width: 294px;
}
.contacts_container input.contact_form__input_text {
   left: 385px;
   top: 246px;
   width: 705px;
}
.contacts_container input.contact_form__input_name:hover {
   background-color: #ffffff;
   border: 3px solid #ffb800;
   color: #1b1402;
}
.contacts_container input.contact_form__input_email:hover {
   background-color: #ffffff;
   border: 3px solid #ffb800;
   color: #1b1402;
}
.contacts_container input.contact_form__input_text:hover {
   background-color: #ffffff;
   border: 3px solid #ffb800;
   color: #1b1402;
}
.contacts_container .contact-form__button {
   position: absolute;
   width: 128px;
   height: 42px;
   left: 385px;
   top: 298px;
   font-family: "Gilroy";
   font-style: normal;
   font-weight: bold;
   font-size: 16px;
   line-height: 19px;
   display: border-box;
   border: 4px solid #ffb800;
   color: #ffb800;
   justify-content: center;
   align-items: center;
}
.contacts_container .contact-form__button:hover {
   border: 4px solid #ffffff;
   color: #ffb800;
   cursor: pointer;
}

/* Footer */
.footer {
   display: flex;
   position: absolute;
   width: 1440px;
   height: 403px;
   left: 0px;
   top: 4250px;
   background: #000000;
}
.footer .header_logo {
   position: absolute;
   left: 82px;
   top: 90px;
}
.footer_text {
   position: absolute;
   width: 250px;
   height: 75px;
   left: 164px;
   top: 210px;
   font-family: "Gilroy";
   font-style: normal;
   font-weight: 300;
   font-size: 16px;
   line-height: 25px;
   letter-spacing: -0.7px;
   color: #ffffff;
}
.footer .nav_links a {
   display: flex;
   align-items: center;
   justify-content: start;
   position: relative;
   width: 100px;
   height: 40px;
   left: 622px;
   top: 165px;
   font-family: "Gilroy";
   font-style: normal;
   font-weight: normal;
   font-size: 16px;
   line-height: 19px;
   /* identical to box height */
   color: #ffffff;
}
.footer .footer_add i {
   display: flex;
   align-items: center;
   justify-content: start;
   position: relative;
   width: 130px;
   height: 65px;
   left: 922px;
   top: 165px;
   font-family: "Gilroy";
   font-style: normal;
   font-weight: normal;
   font-size: 16px;
   line-height: 19px;
   /* identical to box height */
   color: #ffffff;
}
.footer .footer_social a {
   display: flex;
   align-items: center;
   justify-content: start;
   position: relative;
   width: 130px;
   height: 30px;
   left: 1100px;
   top: 164px;
   font-family: "Gilroy";
   font-style: normal;
   font-weight: normal;
   font-size: 16px;
   line-height: 19px;
   /* identical to box height */
   color: rgba(255, 255, 255, 0.2);
}
.footer .instagram:hover {
   color: #d6249f;
}
.footer .facebook:hover {
   color: #3b5998;
}
.footer .linkedin:hover {
   color: #0e6d99;
}
